#tagComponent {
    display: inline-block
}

#outlined-tag-native-simple {
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}