/* @keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
} */
body {
    background-color: #ecc0e52e;
    /* animation-name: example;
    animation-duration: 4s; */

}

#next-icon {
    width: 24px;
    font-size: 24px;
}

/* #back-icon {
    width: 24px;
    font-size: 24px;
} */