#container {
    display: block
    
}

img {
    border-radius: 5px;
    /* width: 500px; */
    /* /* margin-left: auto;
    margin-right: auto; */
    width: 70%; 
    margin: 20px;


}


#carousel{
     height:100%;
     display: flex;
     /* //flex-direction: column;//only vertical */
     align-items: center;
     justify-content: center;
     /* margin-bottom: 20px; */
    }

    .button{
      width:100px;
    }